<div class="w3-container w3-card-2 w3-white w3-round
  col-sm-8 col-sm-offset-2" style="margin-top: 70px">
  <h1 class="text-center" style="margin-bottom: 30px"><%= "New Event" %></h1>
  <%= render "form" %>
</div>
