<tr>
  <td><%= link_to category.name, admin_category_path(category) %></td>
  <td>
    <%= link_to t("books.create"), new_admin_book_path(category),
      class: "btn btn-primary hvr-pulse-shrink" %>
  </td>
  <td>
    <%= link_to "Edit", edit_admin_category_path(category),
      class: "btn btn-primary hvr-pulse-shrink" %>
  </td>
  <td>
    <% if category.id != 1 %>
      <%= link_to t("destroy.button"), admin_category_path(category),
        method: :delete, class: "btn btn-danger hvr-pulse-shrink",
        data: {confirm: t("destroy.confirm")} %>
    <% end %>
  </td>
</tr>
