<tr>
  <td><%= category.name %></td>
  <td>
    <%= link_to t("books.create"), new_admin_book_path(category),
      class: "btn btn-primary hvr-pulse-shrink" %>
  </td>
  <td>
    <%= link_to "Edit", edit_admin_category_path(category),
      class: "btn btn-primary hvr-pulse-shrink" %>
  </td>
  <td>
    <%= link_to t("destroy.button"), admin_category_path(category),
      method: :delete, class: "btn btn-danger hvr-pulse-shrink",
      data: {confirm: t("destroy.confirm")} %>
  </td>
</tr>
